*{
  margin:0;
  padding:0;
  font-size: inherit;
  font-weight: inherit;
  box-sizing: border-box;
}

.smile{
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  background: #333;
  border-radius: 50%;
  color:white;
  
}
.smile ul{
  list-style: none;
}
.smile li{
  border-top: 2px solid #fff;
  position: relative;
}
.smile li:nth-child(1)
{
  left: 100px;
  top: 150px;
  width: 80px;
  transform: rotate(45deg);
}
.smile li:nth-child(2)
{
  left: 156px;
  top: 149px;
  width: 80px;
  transform: rotate(-45deg);
}
.smile li:nth-child(3)
{
  left: 250px;
  top: 149px;
  width: 80px;
  transform: rotate(45deg);
}
.smile li:nth-child(4)
{
  left: 306px;
  top: 149px;
  width: 80px;
  transform: rotate(-45deg);
}

.smile li:nth-child(5)
{
  left: 174px;
  top: 350px;
  width: 80px;
  transform: rotate(-45deg);
}
.smile li:nth-child(6)
{
  left: 230px;
  top: 350px;
  width: 80px;
  transform: rotate(45deg);
}